@charset "utf-8";
/* CSS Document */
.content{
	margin:20px 0;
	}
/*选项卡开始（中国军事，国际动态，军事解读；海外奇闻，野史秘闻，军事历史）*/
.content_left{
	float:left;
	overflow:hidden;}
.content_left .tab_menu{
	overflow:hidden;}
.content_left .tab_menu li{
	width:33.33%;
	float:left;
	height:30px;
	background:rgb(255,204,204);
	line-height:30px;
	text-align:center;}
.content_left .tab_menu li.current{
	background:white;}
.content_left .box{
	width:400px;
	overflow:hidden;
	background:#fff;
	border:1px solid red;
	margin-bottom:20px;}
.content_left .tab_box{
	padding:20px;}
.content_left .tab_box p{
	text-indent:30px;
	font-size:16px;
	line-height:30px;
	padding-top:10px;
	margin-bottom:5px;}
.content_left .tab_box p img{
	float:left;
	margin-right:10px;
	border:3px solid #ccc;}
.content_left .tab_box span{
	display:block;
	text-indent:240px;
	}
.content_left .tab_box span a{
	padding:2px;
	background:lightblue;}
.content_left .tab_box ul{
	margin-top:12px;
	clear:both;
	}
.content_left .tab_box ul li,.content_right ul li{
	height:33px;
	font-size:16px;
	line-height:33px;
	padding-left:20px;
	/*以下3行代码实现文本溢出显示省略号*/
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
	background:url(../images/li_bg.gif) no-repeat left center;
	border-bottom:1px solid #ccc;
	}
.content_left .tab_box .hide{
	display:none;}
/*排行榜和更多开始*/
.content_right{
	float:left;
	width:360px;
	margin-left:30px;
	overflow:hidden;
	}
.content_right>div{
	background:#fff;
	margin:0 0 20px 0;
	border:1px solid red;;}
.content_right>div h2{
	margin-bottom:8px;
	text-align:center;
	padding:5px 0;
	background:rgb(255,204,204);
	}
.content_right ul{
	padding:10px 20px 20px;
}
.content_right .ranking ul li{
	background:none;
	padding:0;
	}
	
