@charset "utf-8";
/* CSS Document */
/*-------------留言开始-----------------*/
.mainBody .right .content{
	background:white;
	clear:both;
	width:768px;
	margin:20px 0;
	padding:10px;
	border:1px solid red;}
.mainBody .right .content>div.words{
	width:90%;
	overflow:hidden;
	padding:20px;
	border-bottom:1px solid #ccc;
	}
.mainBody .right .content .noborder{
	border-bottom:none;}
.mainBody .right .content img{
	width:60px;
	height:80px;
	padding:0 20px 0 10px;
	float:left;
	}
.mainBody .right .content span{
	float:right;}
.mainBody .right .content span a{
	display:inline-block;
	padding:0 8px;
	}